.navbar {
  background-color: #fff6dd;
  padding-left: 20px;
  padding-right: 10px;
}

nav .navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #ffc107;
  font-size: 30px;
  border-bottom: 3px solid transparent;
  text-decoration: none;
}

nav .btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #ffc107;
  border-radius: 0;
}

nav .btn:hover,
nav .btn:active {
  border-bottom: 3px solid #ffc107;
}