nav {
  background-color: #fdb44b;
  color: #2d4059;
}
nav .navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
nav .btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.navbar-right-div {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: white;
  margin-left: 10px;
  border-radius: 10px;
  border: 1px solid 007bff
}

.logout, .login {
  width: 4em;
}

.login {
  padding-left: 11px;
  padding-right: 11px;
}
