@import url('https://fonts.googleapis.com/css?family=Poppins:300,500|Open+Sans:300,400,600');

.container {
  max-width: 88em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #4056A1;
  background-color: #F7F9FB;
}
.container h1 {
  font-family: "Poppins", sans-serif;
}

#total-expenses {
  color: rgb(252, 71, 58)
}