.login-existing-user {
  width: 560px;
  background: lightblue;
  padding: 15px;
  margin: auto;
}

.login-existing-user .col-sm-6 {
  max-width: none;
  margin: auto;
}

.login-existing-user .form-group {
  width: 300px;
  padding-top: 10px;
  margin-bottom: 0px;
}

.error-message {
  color: red;
  text-align: center;
}
