.login-existing-user {
  width: 400px;
  background: lightblue;
  padding: 15px;
  margin: auto;
}

.login-existing-user .col-sm-6 {
  max-width: none;
  margin: auto;
}

.login-existing-user .form-group {
  width: 300px;
  padding-top: 10px;
  margin-bottom: 0px;
}

.login-page-header {
  margin-left: 28px;
  margin-right: 28px;
  border-bottom: 1px solid black;
}

.login-message {
  text-align: center;
  padding-top: 20px;
}

.error-message {
  color: red;
  text-align: center;
  padding-top: 30px;
}
