.login-existing-user {
  background: lightblue;
  padding: 15px;
  margin: auto;
  color: #374785;
  position: absolute;
  top: 5rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.login-existing-user .col-sm-6 {
  max-width: none;
  margin: auto;
}

.login-existing-user .form-group {
  width: 300px;
  padding-top: 10px;
  margin-bottom: 0px;
}

.error-message {
  color: red;
  text-align: center;
}
