.signup-new-user {
  width: 600px;
  background: lightblue;
  padding: 15px;
  margin: auto;
}

.signup-new-user .col-sm-6 {
  max-width: none;
  margin: auto;
}

.signup-new-user .form-group {
  width: 300px;
  padding-top: 10px;
  margin-bottom: 0px;
}
