.signup-new-user {
  background: lightblue;
  padding: 15px;
  margin: auto;
  color: #374785;
  position: absolute;
  top: 5rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.signup-new-user .col-sm-6 {
  max-width: none;
  margin: auto;
}

.signup-new-user .form-group {
  width: 300px;
  padding-top: 10px;
  margin-bottom: 0px;
}

.btn-primary {
  padding: 10px 24px;
  background: #0099cc;
  color: #ffffff;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
  background: #007299;
  box-shadow: none;
}