.landing-content {
  color: #374785;
  position: absolute;
  top: 5rem;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("./landing-page-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.description {
  margin: 11rem 0 0 10.6rem;
}
.description h4 {
  font-weight: 300;
  font-size: 2rem;
}
.description h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4.4rem;
}
.description h6 {
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 2.6rem;
}
.description p {
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0.2rem;
}
/* .my-facebook-button-class {
  background: #4267b2;
  border-radius: 5px;
  color: white;
  height: 40px;
  text-align: center;
  width: 220px;
}
.fa-facebook {
  margin-right: 20px;
} */
.google-login {
  background: #4056A1;
  border-radius: 5px;
  color: white;
  height: 40px;
  text-align: center;
  width: 200px;
  margin-top: 0.8rem;
}
.fa-google {
  margin-right: 10px;
}
