.expense-board {
  background-color: #fdb44b;
}
.expense-board h4 {
  font-weight: 600;
  font-size: 22px;
}
.expense-board .card-body h5 {
  font-size: 15px;
}
.expense-board .card-body h6 {
  font-size: 13px;
}
.expense-board .icons {
  font-size: 3rem;
}
.category-btn {
  margin-top: 12px;
  font-size: 13px;
  font-weight: 600;
}